/*kolory siwy #E0E0E0, róź #FFCCFF, biel #FFFFFF* zolty FFFF99, jasny pomar #FFCC00*/

/*bazowe kolory Róz :  #FF0099      Niebieski: #0099FF*/
/* zielony #FF0099*/
body
{
	background-color: #FFFFFF;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Coda', cursive;
}

#kontener
{
	width:100%;
	background-attachment:fixed;
	background-color:#FFFFFF;
}
#przyciskDoGory
{
	width:40px;
	height:40px;
	line-height:40px;
	z-index:100;
	background-color:white;
	border:5px solid grey;
	border-radius:50%;
	position:fixed;
	bottom:20px;
	right:20px;
	text-align:center;
	font-size:20px;
	box-shadow:1px 1px 1px 1px black;
	display:none;
}
#przyciskDoGory:hover
{
	cursor:pointer;
	color:grey;
}
#home
{
	width:100%;
	box-sizing:border-box;
	color:white;
	text-align:center;
	padding:10px;
}

#homeLotos
{
	display:inline-block;
	display:none;
}
#homeIntro
{
	display:inline-block;
}

#homeKontakt
{
	color:#9C9C9C;
	padding:10px;
	font-size:18px;
	letter-spacing:2px;
}
#homeKontakt a
{
	color:black;
}

h1.napisyLogo
{
	color:#000000;
	letter-spacing:2px;
	font-family:  'Cutive Mono', monospace;
	font-size:30px;
	/*text-shadow:2px 2px 2px #0099FF;*/
	margin:0;
	padding:10px;
}
h2.napisyLogoMale
{
	color:grey;
}
.napisyLogoMale
{
	font-size:16px;
	margin:0;
	padding-bottom:10px;
	letter-spacing:2px;
}


h2.nrTelLogo
{
	font-family:  'Cutive Mono', monospace;
	font-size:25px;
	letter-spacing:3px;
	text-shadow:2px 2px 2px black;
	margin-bottom:10px;
}
#nawigacjaGlowna
{
	width:100%;
	background-color:#FFFFFF;
	margin-bottom:15px;
}
#menuLotos
{
	width:20%;
	margin:auto;
}
#menuLotos img
{
	width:100%;
	height:auto;
	margin-top:10px;
}
#menuLotos img:hover
{
	opacity:0.7;
	cursor:pointer;

}
.napisMenu
{
	text-align:center;
	font-size:22px;
	font-weight:bold;
	font-family: 'Parisienne', cursive;
	margin-top:-5px;
}
.napisMenu:hover
{
	opacity:0.7;
	cursor:pointer;
}


ul.elementyNawigacji
{
	list-style-type:none;
	text-align:center;
	padding:0;
	display:none;
}
ul.elementyNawigacji li
{
	padding:20px;
	border-bottom:5px solid grey;
	border-radius:10px 0px;
	letter-spacing:3px;
}
ul.elementyNawigacji li a
{
	text-decoration:none;
	color:black;
	display:block;
}
ul.elementyNawigacji li a:hover
{
	color:black;
	font-weight:600;
	transition-duration:0.5s;
}
.powitanie
{
	box-sizing:border-box;
	width:80%;
	margin:auto;
	margin-bottom:40px;
	padding:30px;
	/*background-color:#FFCCFF;*/
	/*background:linear-gradient(#FFCC00, white);*/
	text-align:center;
	font-family: 'Cutive Mono', monospace;
	font-size:24px;
	text-shadow:2px 2px 2px grey;
	border-top:4px solid #FF0099;
	border-left:2px solid #FF0099;
	border-bottom:4px solid #0099FF;
	border-right:2px solid #0099FF;
	border-radius:2px;
	/*display:none;*/
}

	#bicomIntro
	{
		box-sizing:border-box;
		width:100%;
		display:flex;
		justify-content:space-around;
		align-items:center;
		margin-bottom:10px;
		padding:5px;

	}
	#bicomText
	{
		width:50%;
		padding:10px;
		padding-left:10px;
	}
	#bicomText ul
	{
		list-style-image: url("img/faja.png");
	}
	#bicomText ul li
	{
		letter-spacing:2px;
		padding:3px;
		font-size:16px;
	}
	#bicomFoto
	{
		width:50%;
	}
	#bicomFoto img
	{
		width:90%;
	}


.ikonaMasaz
{
	background-color:#3399CC;
	width:80%;
	height:auto;
	margin:auto;
	font-family:'Cutive Mono', monospace;
	font-size:22px;
	letter-spacing:2px;
	font-weight:700;
	margin-bottom:20px;
	border-radius:8px;
	text-align:center;
	box-shadow:2px 2px 2px 2px black;
	overflow:hidden;
}
.ikonaMasaz img
{

	width:100%;
	height:auto;
}

	.opisHover
{
	display:none;
}

.opisUslugiMasaz, .opisUslugiOdczulanie
{
	width:80%;
	margin:auto;
	margin-bottom:20px;
	text-align:justify;
	font-size:15px;
	display:none;

}
hr
{
	background-color:#DADADA;
}
.ikonaAlergia
{
	background-color:#FF0099;
	width:80%;
	height:auto;
	margin:auto;
	font-family: 'Cutive Mono', monospace;
	font-size:22px;
	letter-spacing:2px;
	font-weight:700;
	margin-bottom:30px;
	border-radius:8px;
	text-align:center;
	box-shadow:2px 2px 2px 2px black;
	overflow:hidden;
}
.ikonaAlergia img
{
	width:100%;
	height:auto;
}

#uslugi
{
	width:100%;
}

.zdjecieBicom
{
	width:70%;
	margin:auto;
	margin-bottom:20px;
}
.zdjecieBicom img
{
	width:100%;
	border-radius:4px;
}

#terapie
{
	width:100%;
	background-color:white;
	padding-bottom:10px;
	padding-top:20px;
}

.terapieKafelek
{
	width:90%;
	background-color: #F6F6F6;
	padding:10px;
	border:1px solid black;
	border-radius:8px;
	margin:auto;
	text-align: justify;
	margin-bottom:10px;
	box-shadow: 2px 2px 2px 2px grey;
}
.terapiaObrazek
{
	text-align: center;
}
.terapieKafelek img
{
	width:50%;
	margin:0 auto;
	border-radius: 50%;
}
.terapieKafelek h3
{
	text-align: center;
}
.terapieKafelek a
{
	text-decoration:none;
	color:black;
}
/*podstrona rzucpalenie itp*/
.terapieOpis
{
	width:80%;
	background-color: #F6F6F6;
	padding:20px;
	border:1px solid black;
	border-radius:8px;
	margin:auto;
	text-align: justify;
	letter-spacing: 2px;
	margin-bottom:20px;
	box-shadow: 2px 2px 2px 2px grey;
}
.terapieOpis img
{
	width:80%;
	border-radius: 50%;
}

#cennik
{
	/*background-color:#FFCC00;*/
	background-color: silver;
	width:80%;
	padding:20px;
	margin:auto;
	margin-bottom:50px;
	border-radius:5px;
	box-shadow:3px 2px 2px 2px grey;
	position:relative;
	letter-spacing:2px;
}
.napisCennik
{
	width:100%;
	margin:auto;
	margin-bottom:20px;
	text-align:center;
	font-family: 'Playball', cursive;
	color:white;
	text-shadow:2px 2px 2px #000000;
}
#strzalkaDol
{
	width:35px;
	position:absolute;
	top:25px;
	right:20px;
}
#strzalkaDol img
{
	width:100%;
}
.obrotStrzalki
{
	transform:rotate(180deg);
	color:silver;
}
.cena
{
	color:#0099FF;
	font-weight:bold;
	text-shadow:1px 1px 1px silver;
	font-size:17px;
	text-shadow:1px 1px 1px white;
}
.uslugiCennik
{
	width:100%;
	letter-spacing:5px;
	color:black;
	text-align:center;
	font-size:18px;
	font-style:italic;
	background-color:#E0E0E0;
	border-radius:10px;
	border:3px solid white;
}
.masazeCennik, .alergiaCennik, .odczulanieCennik
{
	display:none;
	list-style-image:url("favicon-32x32.png");
}


#tloWellness
{
	background-image:url("img/mlecz.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	width:100%;
	height:600px;
}
#tloWellness2
{
	background-image:url("img/wellness3.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	width:100%;
	height:500px;
}
#coLeczymy
{
	width:100%;
	background-color:#FFFFFF;
	box-sizing:border-box;
	padding:20px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	/*border-top:10px dashed black;*/
}
#coLeczymy ul
{
	list-style-type:none;
	padding:0;
}
#coLeczymy ul li
{
	margin-bottom:20px;
	border-radius:2px;
	padding:10px;
	border-right:3px solid #0099FF;
	border-bottom:3px solid #0099FF;
	/*background-color:#E6E6E6;*/
}
#coLeczymy h2
{
	padding:10px;
	font-size:24px;
	text-align:center;
	/*color:white;*/
	animation-name:zmienKolor;
    animation-duration:3s;
    animation-iteration-count:infinite;
	text-shadow:2px 2px 3px #000000;
	padding:10px;
	letter-spacing:2px;
}
.napiscoLeczymy
{
	width:90%;
	height:80px;
	margin:0 auto;
	margin-bottom:20px;
}
.elementycoLeczymy
{
	color:grey;
	font-weight:bold;
	font-size:17px;
	letter-spacing:1px;
}
#oMnieSkok
{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	text-align:justify;
}
#oMnieSkok h1
{
	text-align:center;
	color:grey;
	width:100%;
	margin-bottom:20px;
	font-family: 'Playball', cursive;
	border-bottom:1px solid grey;
}
#oMnieSkok p
{
	width:90%;
	margin:auto;
	margin-bottom:28px;
}
#oMnieSkok ul
{
	list-style-position:inside;
}
.certyfikat
{
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:85%;
	box-shadow:1px 1px 1px 1px grey;
}
.certyfikat img
{
	width:100%;
}
.czcionkaPismoOdreczne
{
	font-family: 'Parisienne', cursive;
	font-size:36px;
}
#daneKontaktowe
{
	box-sizing:border-box;
	width:100%;
	height:100%;
	text-align:center;
	font-size:14px;
	background: radial-gradient(#191919, black);
	color:#DADADA;
	border-top:2px solid grey;
	font-family:  'Cutive Mono', monospace;
	padding:10px;
}
h2.napisyLogo
	{
		text-shadow:2px 2px 2px #0099FF;
	}

.mapaGoogle
{
	margin-top:10px;
	width:100%;
	border-radius:10px;
}

footer
{
	width:100%;
	text-align:center;
	font-size:12px;
}
p.name
{
	font-size:24px;
	letter-spacing:2px;
}

.activeClass
{
	border:5px inset grey;
	transition-duration:0.5s;
	color:white;
}
@keyframes zmienKolor
{
	0%{color:white;font-size:22px;}
	50%{color:#FF0099; font-size:24px;}
	100%{color:white;font-size:22px;}
}
/*style do efektu parallax*/
.hide{
	opacity:0
}

.show {
	opacity: 1;
}
/*MEDIA*/ /***************************************************/
@media only screen and (min-width:768px)
{
	body
	{
		box-sizing:border-box;
	}

	#home
	{
		display:flex;
		justify-content:space-around;
		align-items:center;
	}
	#homeLotos
	{
		display:block;
		width:15%;
	}
	#homeLotos img
	{
		width:100%;
	}

		.napisyLogoMale
	{
		letter-spacing:5px;
	}


	#gornaBelka
	{
		background-image:url("img/alergy.jpg");
		height:450px;
	}
	#menuLotos
	{
		display:none;
	}
	h1.napisyLogo
	{
		font-size:46px;
	}
	.napisMenu
	{
		display:none;
	}
	.powitanie
	{
		margin-top:30px;
		transition: all 2s ease;
		font-size:36px;
	}
	#bicomIntro
	{
		padding:20px;
	}
	#bicomText
	{
		width:40%;
		padding-left:30px;
		letter-spacing:10px;
		font-size:25px;
	}
	#bicomText ul li
	{
		font-size:30px;
	}
	#bicomFoto
	{
		width:60%;
	}

	ul.elementyNawigacji
	{
		width:100%;
		padding:0;
		margin:0;
		display:block !important; /*potrzebna deklaracja aby po zmniejszeniu menu w widoku poniezej 768px menu po rozszerzeniu nie zostało zamkniete*/
	}
	ul.elementyNawigacji li
	{
		width:15%;
		line-height:60px;
		display:inline-block;
		padding:0px;
		margin-top:10px;
		margin-right:1px;
		border-bottom:2px solid silver;
		border-right:2px solid silver;
		border-radius:3px;
		font-size:15px;
		letter-spacing:1px;
		font-weight:bold;
		transition:0.3s;
	}
	ul.elementyNawigacji li:hover
	{
		box-shadow:4px 3px 7px #0099FF;
		border-bottom:2px solid black;
		border-right:2px solid black;
	}
	ul.elementyNawigacji li a:hover
	{
		color:#1F1F1F;
		font-weight:400;
	}


	.ikonaMasaz
	{
		width:40%;
		height:20em;
		margin:auto;
		font-family: 'MissFaiardose', cursive;
		font-size:20px;
		font-weight:700;
		margin-bottom:20px;
		margin-left:10px;
		border-radius:8px;
		text-align:center;
		box-shadow:2px 2px 2px 2px black;
		overflow:hidden;
		display:inline-block;
		transition:all 0.5s linear;
	}

	.ikonaMasaz img
	{
		width:100%;
		height:100%;
	}

		.ikonaAlergia
	{
		width:40%;
		height:20em;
		margin:auto;
		font-family: 'MissFaiardose', cursive;
		font-size:20px;
		font-weight:700;
		margin-bottom:20px;
		margin-right:10px;
		border-radius:8px;
		text-align:center;
		box-shadow:2px 2px 2px 2px black;
		overflow:hidden;
		display:inline-block;
		transition:all 0.5s linear;
		position:relative;
	}

	.ikonaAlergia img
	{
		width:100%;
		height:100%;
	}

	.ikonaAlergia:hover .opisHover,
	.ikonaMasaz:hover .opisHover
	{
		display:flex;
		align-items:center;
		justify-content:center;
		width:100%;
		height:100%;
		opacity:0.5;
		z-index:1000;
		position:absolute;
		text-shadow:2px 2px 2px white;
		top:0;
		left:0;
		cursor:pointer;
		font-size:30px;
		text-transform:uppercase;
	}

	.ikonaAlergia:hover .opisHover
	{
		background-color:#FF0099;
	}

	.ikonaMasaz:hover .opisHover
	{
		background-color:#3399CC;
	}

		.opisUslugiMasaz, .opisUslugiOdczulanie
	{
		font-size:16px;
	}



	#terapie
	{
		width:100%;
		display:flex;
		flex-wrap:wrap;
		align-items: center;
		justify-content: space-around;
		padding-top:40px;
	}

	.terapieKafelek
	{
		background-color: #F6F6F6;
		padding:10px;
		border:1px solid black;
		border-radius:8px;
		margin:auto;
		text-align: justify;
		letter-spacing: 2px;
		margin-bottom:20px;
		box-shadow: 2px 2px 2px 2px grey;
		flex-basis:38%;
		transition:0.5s;
	}
	.terapieKafelek:hover
	{
		box-shadow: 0 0 10px rgba(0,0,0,1),
								0 0 20px rgba(0,0,0,1),
								0 0 30px rgba(0,0,0,1),
								0 0 75px rgba(0,0,0,0.05),
								0 0 60px rgba(0,0,0,0.05),
								0 0 45px rgba(0,0,0,0.05),
								0 0 15px rgba(0,0,0,0.05);
		cursor:pointer;
		color:#3399CC;
		transform: scale(1.1);
	}
/*	.terapieKafelek:nth-of-type(2)
	{
		flex-basis:90%;
	}*/
	.terapiaObrazek
	{
		text-align: center;
	}
	.terapieKafelek img
	{
		width:50%;
		margin:0 auto;
		border-radius: 50%;
	}
.terapieKafelek p
	{
		display:none;
	}
	.terapieKafelek h3
	{
		text-align: center;
	}

	.activeTerapy
	{
			flex-basis:90%;
			display:block;
	}

	.terapieOpis
	{
		width:85%;
		background-color: #F6F6F6;
		padding:10px;
		border:1px solid black;
		border-radius:8px;
		margin:auto;
		text-align: justify;
		letter-spacing: 2px;
		margin-bottom:20px;
		box-shadow: 2px 2px 2px 2px grey;
		flex-basis:38%;
		transition:0.5s;
	}
	.terapieOpis img
	{
		width:40%;
	}

	#uslugi
	{
		width:100%;
		margin:auto;
		text-align:center;
	}


	#cennik
	{
		font-size:20px;
	}
	#cennik:hover
	{
		cursor:pointer;
		opacity:0.9;
	}
	.cena
	{
		font-size: 22px;
	}
	.napisCennik h1
	{
		font-size:40px;
		letter-spacing:1px;
	}

	#coLeczymy
	{
		font-size:18px;
	}

	#oMnieSkok h1
	{
		font-size:44px;
		letter-spacing:2px;
	}
	#oMnieSkok
	{
		font-size:18px;
	}

	#strzalkaDol:hover
	{
		transform:scale(1.1);
		transition:transform 0.5s ease-in-out;
	}

	.certyfikat
	{
		margin:auto;
		margin-top:20px;
		margin-bottom:20px;
		width:50%;
	}
	.certyfikat img
	{
		width:100%;
		height:auto;
	}

	#daneKontaktowe
	{
		font-size:20px;
	}


		@keyframes zmienKolor
	{
		0%{color:white;font-size:36px;}
		50%{color:#FF0099; font-size:40px;}
		100%{color:white;font-size:36px;}
	}

}




/*#hamburgerMenu
{
	text-align:center;
	font-size:40px;
	width:100%;
	background-color:silver;
}
#hamburger
{
	margin:auto;
	width:30px;
	height:35px;
	margin-top:10px;
	border:0;
	border-top:5px solid #FFFFFF;
	background-color:transparent;
	position:relative;
}
#hamburger::before, #hamburger::after
{
	content: '';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	border-top:5px solid #FFFFFF;
	transform:translateY(7px);
}
#hamburger::after
{
	transform:translateY(20px);
}*/
